.header {
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  max-width: 1100px;
  align-content: center;
}

.content {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  max-width: 1100px;
  align-content: center;
}

.footer{
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  max-width: 1100px;
  align-content: center;
}

.left {
  float: left;
  max-width: 33%;
}

.right {
  float: right;
  max-width: 66%;
}

body {
  background-color: #ffdab3;
  padding: 20px;
}

